.container {
  padding: 2rem 2rem;
  margin: 0 auto;
  min-height: calc(100vh - 119px);
}

.bookContainer {
  background-image: url("/img/bg-retro.gif");
}

.careerContainer {
  background-image: url("/img/bg-curly.gif");
}

.middle {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 8px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 auto;
  max-width: 600px;
}

.formCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 auto;
  max-width: 400px;
}

.formDecoration {
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.398);
}

.bookDecoration {
  background: rgb(188, 14, 255);
}

.careerDecoration {
  background: #0015ff;
}

.label {
  align-self: start;
  text-align: left;
  padding-bottom: 2px;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.398);
}

.radioContainer {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.radioWrapper {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.radio {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.twoCols {
  width: calc(50% - 4px);
}

.singleCol {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 950px) {
  .imgBorder {
    height: 200px;
    width: 600px;
  }
}

@media (max-width: 800px) {
  .imgBorder {
    height: 160px;
    width: 480px;
  }
}

@media (max-width: 550px) {
  .imgBorder {
    height: 100px;
    width: 300px;
  }
}

@media (max-width: 500px) {
  .form {
    justify-content: center;
  }
  .fieldContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .fieldContainer>input,.fieldContainer>label,.fieldContainer>textarea {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

}

.form > .fieldContainer > input {
  max-width: 300px;
}

.fieldContainer > input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.fieldContainer > input::-webkit-datetime-edit {
  color: grey;
}

.fieldContainer > textarea, .fieldContainer > input {
  background: white;
  color: black;
  padding: 8px;
}

.fieldContainer > textarea::placeholder, .fieldContainer > input::placeholder {
  line-height: 1.563;
  letter-spacing: -.5px;
  font-family: source-code-pro, monospace;
  color: grey;
}

.errorBox {
  align-self: self-start;
  color: red;
}

.button {
  margin: 8px;
  background-color: grey;
  color: white;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 180px;
  padding: 8px 0;
}