@font-face {
  font-family: 'Fredoka One';
  src: url('/fonts/FredokaOne-Regular.ttf');
}

.container {
  padding: 2rem 2rem;
  margin: 0 auto;
  min-height: calc(100vh - 119px);
}

.bookContainer {
  background-image: url("/img/bg-retro.gif");
}

.careerContainer {
  background-image: url("/img/bg-curly.gif");
}

.middle {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 8px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 auto;
  max-width: 600px;
}

.formCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 auto;
  max-width: 400px;
}

.formDecoration {
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.398);
}

.bookDecoration {
  background: rgb(188, 14, 255);
}

.careerDecoration {
  background: #0015ff;
}

.label {
  align-self: start;
  text-align: left;
  padding-bottom: 2px;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.398);
}

.radioContainer {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.radioWrapper {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.radio {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.twoCols {
  width: calc(50% - 4px);
}

.singleCol {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 550px) {
  .imgBorder {
    height: 200px;
    width: 400px;
  }
}

@media (max-width: 500px) {
  .imgBorder {
    height: 200px;
    width: 280px;
  }
}

@media (max-width: 500px) {
  .form {
    justify-content: center;
  }
  .fieldContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .fieldContainer>input,.fieldContainer>label,.fieldContainer>textarea {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

}

.form > .fieldContainer > input {
  max-width: 300px;
}

.fieldContainer > input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.fieldContainer > input::-webkit-datetime-edit {
  color: grey;
}

.fieldContainer > textarea, .fieldContainer > input {
  background: white;
  color: black;
  padding: 8px;
}

.fieldContainer > textarea::placeholder, .fieldContainer > input::placeholder {
  line-height: 1.563;
  letter-spacing: -.5px;
  font-family: source-code-pro, monospace;
  color: grey;
}

.errorBox {
  align-self: self-start;
  color: red;
}

/* .button {
  margin: 8px;
  color: white;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 180px;
  padding: 8px 0;
} */

.button {
  height: 50px;
  width: 165px;
  cursor: pointer;
  background-color: #08e1ae;
  background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
  border: none;
  border-radius: 50px 50px 30px 30px;
  transition: 1s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  font-size: 30px;
  text-decoration: none;
  color: rgba(37, 61, 29, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px auto 0;
  font-family: 'Fredoka One', Verdana, Geneva, Tahoma, sans-serif;
}

.button:active {
  border: none;
  outline: none;
}

.button:hover .scale {
  letter-spacing: 5px;
  font-size: 25px;
  transition: 1s;
}

.rotate1,
.rotate2,
.rotate3,
.rotate4 {
  transition: 1s;
}

button:hover .rotate1 {
  transform: rotate(15deg);
}

.button:hover .rotate2 {
  transform: rotate(-15deg);
}

.button:hover .rotate3 {
  transform: rotate(10deg);
}

.button:hover .rotate4 {
  transform: rotate(-25deg);
}

.button:active {
  filter: hue-rotate(90deg);
}