@font-face {
  font-family: 'Fredoka One';
  src: url('/fonts/FredokaOne-Regular.ttf');
}

.container {
  padding: 2rem 2rem;
  margin: 0 auto;
  min-height: calc(100vh - 119px);
}

.bookContainer {
  background-image: url("/img/bg-retro.gif");
}

.careerContainer {
  background-image: url("/img/bg-curly.gif");
}

.middle {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 8px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 auto;
  max-width: 600px;
}

.formCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 auto;
  max-width: 400px;
}

.formDecoration {
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.398);
}

.bookDecoration {
  background: rgb(188, 14, 255);
}

.careerDecoration {
  background: #0015ff;
}

.label {
  align-self: start;
  text-align: left;
  padding-bottom: 2px;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.398);
}

.radioContainer {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.radioWrapper {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.radio {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.twoCols {
  width: calc(50% - 4px);
}

.singleCol {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 550px) {
  .imgBorder {
    height: 200px;
    width: 400px;
  }
}

@media (max-width: 500px) {
  .imgBorder {
    height: 200px;
    width: 280px;
  }
}

@media (max-width: 500px) {
  .form {
    justify-content: center;
  }
  .fieldContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .fieldContainer>input,.fieldContainer>label,.fieldContainer>textarea {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

}

.form > .fieldContainer > input {
  max-width: 300px;
}

.fieldContainer > input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.fieldContainer > input::-webkit-datetime-edit {
  color: grey;
}

.fieldContainer > textarea, .fieldContainer > input {
  background: white;
  color: black;
  padding: 8px;
}

.fieldContainer > textarea::placeholder, .fieldContainer > input::placeholder {
  line-height: 1.563;
  letter-spacing: -.5px;
  font-family: source-code-pro, monospace;
  color: grey;
}

.errorBox {
  align-self: self-start;
  color: red;
}

/* GLOWING BUTTON */
@import url("https://fonts.googleapis.com/css?family=Raleway");

.glowingBtn {
  margin-top: 24px;
  position: relative;
  color: hsl(100, 100%, 39%);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid hsl(186 100% 39%);
  border-radius: 0.45em;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;
  background: rgb(188, 14, 255);

  -webkit-box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 39%),
    0px 0px 0.5em 0px hsl(186 100% 39%);
  -moz-box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 39%),
    0px 0px 0.5em 0px hsl(186 100% 39%);
  box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 39%),
    0px 0px 0.5em 0px hsl(186 100% 39%);
}

.glowingTxt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em hsl(186 100% 39%);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em hsl(186 100% 39%);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em hsl(186 100% 39%);
  animation: text-flicker 3s linear infinite;
}

.faultyLetter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowingBtn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: hsl(186 100% 39%);
  pointer-events: none;
}

.glowingBtn:hover {
  border: 0.15em solid rgb(188, 14, 255);
  color: rgb(188, 14, 255);
  background: hsl(186 100% 39%);
}

.glowingBtn:hover .faultyLetter {
  text-shadow: none;
  opacity: 1;
}


@keyframes faulty-flicker {
  0% {
    opacity: 0.4;
  }

  2% {
    opacity: 0.4;
  }

  4% {
    opacity: 0.5;
  }

  19% {
    opacity: 0.5;
  }

  21% {
    opacity: 0.4;
  }

  23% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.4;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.6;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0.5;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 1;
  }

  2% {
    opacity: 1;
  }

  4% {
    opacity: 0.6;
  }

  8% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowingBtn {
    font-size: 1em;
  }
}