.container {
  padding: 0 2rem;
  margin: 0 auto;
  min-height: calc(100vh - 119px);
}

.background {
  background-image: url("/img/bg-alfoil.gif");
  background-size: cover;
  background-position: top;
}

.middle {
  position: absolute;
  top: 50%;
  left: 43%;
  text-align: center;
}

.imgContainer {
  display: flex; 
  justify-content: center;
  padding: 50px 0 0;
}

.middleContainer {
  padding: 40px 0 60px;
  display: grid;
  margin: auto;
  height: 100%;
  gap: 12px;
  width: 50%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (max-width: 700px) {
  .middleContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.service {
  color: black;
  background-color: #fafa00;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.398);
  padding: 16px;
  display: flex;
  flex-direction: column;

}

.service:nth-of-type(1) {
  color: white;
  background-color: #70319d;
}