.footerContainer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: -8px;
}

.footer {
  padding: 2px;
  margin-top: -56px;
  color: white;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: red;
  text-decoration: underline;
}

.callNow {
  display: inline-block;
}

@media (max-width: 950px) {
  .footer {
    margin-top: 0;
  }
}