@font-face {
  font-family: 'Rubik Italic';
  src: url('/fonts/Rubik-Italic.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik Italic', sans-serif;
  letter-spacing: 1px;
  line-height: 1.563;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
