@font-face {
  font-family: 'DAYPOSTERBLACK';
  src: url('/fonts/DAYPBL.ttf');
}

.container {
  padding: 0 2rem;
  background-image: url("/img/bg-stars.gif");
  margin: 0 auto;
  min-height: 100vh;
}

.contentContainer {
  padding: 0 2rem;
  background-image: url("/img/bg-stars.gif");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 400px;
}

.main {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: none;
  position: relative;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 2rem;
}

.gridOuter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem 0;
  padding: 2rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 940px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .pwned {
    height: 200px;
    width: 250px;
  }
}

@media (max-width: 400px) {
  .pwned {
    height: 150px;
    width: 200px;
  }
}

#animate {
  position:absolute;
  animation:float 3s ease-in-out infinite;
}

@keyframes float {
  from, to { 
    transform: translateX(-90px)translateY(-90px); 
  }
  50% { 
    transform: translateX(-50px) translateY(-50px); 
  }
}

.column {
  width: 33%;
}

.column a {
  width: 50%;   
}

.call {
  margin: -20px 0 20px;
  text-align: center;
  font-weight: bolder;
  font-size: 22px;
  background-image: linear-gradient(to left, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'DAYPOSTERBLACK', Tahoma, Geneva, Verdana, sans-serif;
}

